nav ul li a {
	color: white;
	padding: 15px 25px !important;
}

.nav ul li a:hover {
	color: red;
	background-color: transparent;
	border-top: 2px solid red;

}

.nav ul li a:active {
	color: red;
	background-color: transparent;
	border-top: 2px solid red;
}

.nav ul li a:focus {
	color: red;
	background-color: transparent;
	border-top: 2px solid red;
}

.nav {
	background-color: transparent;
}

#navbar {
	transition: ease 1s;
}

.navbar-brand{
	color: white;
}

.bg-red {
	background-color: red;
}

.c-white{
	color:white;
}

.c-grey {
	color: grey;
}

.bg-img-first {
	background-image: url(images/PochetnaPrvaSlika.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-img-team {
	background-image: url(images/TeamPrva.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.h-90 {
	height: 90vh;
}
.h-60 {
  height: 60vh;
}

.h-100 {
	height: 100vh;
}

.p-left-8 {
	padding-left: 8px !important;
}

.header-overlay {
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
}

.lt-space-1 {
	letter-spacing: 1px;
}

.word-space-1 {
	word-spacing: 1px;
}

.f-size-12 {
	font-size: 12px;
}

.c-red {
	color: red;
}

.m-top-180 {
	margin-top: 180px;
}

.m-top-10 {
	margin-top: 10px;
}

.a-team {
	padding: 14px;
	border: 1px solid white;
	color: white;
	letter-spacing: 1px;
}

.a-team:hover {
	color: white;
	background-color: red;
	border: 0;
	text-decoration: none;
}

.header-ps p {
	display: inline-block;
	padding-right: 10px;
	font-size: 15px;
	letter-spacing: 0.5px;
	font-family: serif;
	margin-bottom: 20px;
}

.header-ps p span {
	border-bottom: 1.5px solid white;
	margin-top: 0;
}

.img-laptop {
	width: 700px;
	margin-top: 310px;
	margin-left: -120px;
}

.f-family-quicksand{
    font-family: 'Quicksand', sans-serif;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.f-weight-900{
	font-weight: 900;
}

.f-size-11 {
	font-size: 11px;
}

.f-size-13 {
	font-size: 13px;
}

.f-weight-500 {
	font-weight: 500;
}

.m-top-50 {
	margin-top: 50px;
}

.f-weight-600 {
	font-weight: 600;
}

.f-size-20 {
	font-size: 20px;
}

.f-size-16 {
	font-size: 16px;
}

.panel-footer {
	background-color: white;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 0;
}

.b-bottom-1 {
	border-bottom: 1px solid lightgrey;
}

.panel-heading {
	padding: 15px;
}

.panel-body {
	padding: 30px 15px;
}

.line-height-50 {
	line-height: 50px;
}

.line-height-35 {
	line-height: 35px;
}

.line-height-25 {
	line-height: 25px;
}

.m-top-60 {
	margin-top: 60px;
}

.panel-heading a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
}
.panel-heading a.collapsed:before {
    float: right !important;
    content:"\f067";
}

.panel-heading a:hover,
.panel-heading a:focus {
	color: red;
	text-decoration: none;
}

.nav-button {
	background-color: red;
	color: white;
}

.nav-button:hover {
	background-color: dimgrey !important;
	color: white !important;
	border-top: 0 !important;
}

.line-height-40{
	line-height: 40px;
}

.line-height-25 {
	line-height: 25px;
}	
.flex-around {
	display: flex;
	justify-content: space-around;
}

.m-bottom-20 {
	margin-bottom: 20px;
}

.m-bottom-70 {
	margin-bottom: 70px;
}

.m-bottom-40 {
	margin-bottom: 40px;
}

.m-bottom-30 {
	margin-bottom: 30px;
}

.p-absolute {
	position: absolute;
}

.p-relative {
	position: relative;
}

.m-left--15 {
	margin-left: -15px;
}

.m-left--25 {
	margin-left: -25px;
}

.arrow {
	bottom: 7%;
	left: 48%;
	color: red;
	background-color: white;
	border-radius: 50%;
	padding: 9px 16px;
	cursor: pointer;
}

.icon-bar {
	border: 1px solid white;
}

#hamburger {
	margin-top: 15px;
	font-size: 15px;
}

.arrow-bottom {
	top: 40%;
	right: -4%;
	cursor: pointer;
	color: #333333;
}

.arrow-top {
	top: 23%;
	right: -4%;
	color: #333333;
	cursor: pointer;
}

.divider {
	top: 31%;
	right: -7%;
	color: lightgrey;
}

.m-top-60 {
  margin-top: 60px;
}

.tablet .content {
  width: 385px;
  height: 474px;
  background: white;
  margin: -1px;
  overflow: hidden;
}

.image-inside {
	transform: rotate(90deg);
    width: 132%;
    height: 143%;
    margin-top: -119px;
}

.tablet {
  position: relative;
  width: 417px;
  height: 593px; /*bese 625*/
/*  margin: auto;*/
  border: 16px #e2e0e0 solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  transform: rotate(-90deg);
  top: -100px;
  box-shadow: 0 0 20px #d3d3d3;
  margin-left: 25px;
}

/* The horizontal line on the top of the device */
.tablet:before {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #b5b5b5;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.tablet:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #d3d3d3;
  border-radius: 50%;
  border: 1px solid grey;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292929;
    overflow-y: hidden;
    transition: 1s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-menu {
  line-height: 2.5;
  list-style-type: none;
  padding-left: 0;

}
.overlay a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 60px;
}

.navBrand-media {
    padding: 8px;
    position: absolute;
    top: 18px;
    left: 24px;
    font-size: 22px;
    text-transform: capitalize;
    background-color: white;
    color: black !important;
}

.media-overlay-button {
  padding: 15px 145px !important;
}

.media-overlay-button2 {
  padding: 15px 118px !important;
}

.hamburger {
	font-size:30px;
	cursor:pointer; 
	display: none;
	margin-left: 358px;
  margin-top: 10px;
  color: white;
}

.text-center{
  text-align: center;
}
.f-family-quicksand{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
.c-red{
  color:red;
}
.c-white{
  color:white;
}
.decoration{
  text-decoration: underline;
}
.bg-lightgrey{
  background-color: #d3d3d32e;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-bottom-10{
  margin-bottom: 10px;
}
.m-bottom-20{
  margin-bottom: 20px;
}
.m-bottom-40{
  margin-bottom: 40px;
}
.m-bottom-70{
  margin-bottom: 70px;
}
.m-top-40{
  margin-top: 40px;
}
.m-top-0{
  margin-top: 0;
}
.m-right-10{
  margin-right:10px;
}
.p-left-0{
  padding-left: 0;
}
.p-left-55{
  padding-left: 55px;
}
.p-bottom-25{
  padding-bottom: 25px;
}
.l-height-30{
  line-height: 30px;
}
.l-height-20{
  line-height: 20px;
}
.l-spacing-1{
  letter-spacing: 1px;
}
.bg-image-footer{
  background-image: url(images/footer.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
}
.footer-btn1{
  background-color: white;
  color: black;
  padding: 15px 44px; 
  letter-spacing: 1px;
}
.footer-btn2{
  background-color: red;
  color: white;
  padding: 15px 45px; 
  letter-spacing: 1px;
}
.footer-btn1:hover,
.footer-btn2:hover{
  background-color: dimgrey;
  color: white;
  text-decoration: none;
}
.footer-overlay{
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
}
.fifthHolder-height{
  height: 299px;
}


.bg-image-hireus{
  background-image: url('images/Hireus.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hireus-overlay{
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
}

.flex-hireus{
  display: flex;
  align-items: center;
}
.hireus-naslovi{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color:white;
  letter-spacing: 1px;
}

.height-40{
  height: 40vh;
}
.b-right-1{
  border-right: 1px solid lightgrey;
}
.none{   
  display: none;
}

.block{
  display: block;
}
.bg-image-map{
  background-image: url('images/black-city-map.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
}

.clock{
  border:3px dotted black;
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  margin: 30px auto;
}

.clock-face{
  width: 105%;
  height: 90%;
  position: relative;
}

.hand{
  position: absolute;
  width: 50%;
  height: 6px;
  background:blue;
  top: 50%;
  transform-origin: 100%;
  transform:rotate(90deg);

}
.hours-hand,
.hours-hand1,
.hours-hand2,
.hours-hand3,
.hours-hand4,
.hours-hand5{
  background-color: red;
  height:2px;
  width: 20px;
  margin-left: 10px;


}
.minutes-hand,
.minutes-hand1,
.minutes-hand2,
.minutes-hand3,
.minutes-hand4,
.minutes-hand5{
  background-color: red;
  height: 2px;
}
.seconds-hand,
.seconds-hand1,
.seconds-hand2,
.seconds-hand3,
.seconds-hand4,
.seconds-hand5{
  background-color: lightgrey;
  height: 1px;
}
  
.footer-txt:hover{
  color:grey;
}
.b-bottom-1{
  border-bottom: 1px solid lightgrey;
}

.m-after-tablet {
    margin-bottom: -100px !important;
  }

@media only screen and (max-width: 768px){
  .navbar-right {
    margin-right: -10px;
  }

  .m-top-130-media {
    margin-top: 130px;
  }

  .img-laptop {
    width: 622px;
    margin-top: 79px;
    margin-left: -5px;
  }
  .f-size-27-media {
    font-size: 27px;
  }

  .txt-align-c-768 {
    text-align: center;
  }

  .f-size-16-768{
    font-size: 16px;
  }

  .f-size-30-768{
    font-size: 30px;
  }

  .f-size-22-media{
    font-size: 22px;
  }

  .tablet {
    margin-left: 45px;
  }

  .tablet .content {
    width: 387px;
  }
  
  .m-top--153-media {
    margin-top: -153px;
  }

  .p-left-35-media{
    padding-left: 35px;
  }
  
  .f-size-35-media {
    font-size: 35px;
  }

  .f-size-22-media {
    font-size: 22px;
  }

  .m-bt-20-media{
    margin-bottom: 20px;
  }
  
  .m-t-20-media {
    margin-top: 20px;
  }

  .dis-block-media {
    display: block;
  }

  .panel-body {
    font-size: 16px;
  }
  
  .m-bt-50-media {
    margin-bottom: 50px;
  }
  .clock-face {
    width: 118%;
    height: 99%;
  }

  .m-after-tablet {
    margin-bottom: 30px !important;
  }

  .h-60 {
    height: 100%;
  }

}

@media only screen and (max-width: 425px) {
	.hamburger {
  	display: block;
  }

  #nav-pc {
  	display: none;
  }

  .img-laptop {
  	width: 134%;
    margin-top: 65px;
    margin-left: -60px;
  }

  .media-h2-fsize {
  	font-size: 25px;
  	margin-top: 35px;
  	text-align: center;
  }

  .media-m-top-180 {
  	margin-top: 115px;
  }
  .header-ps {
  	margin-top: 35px;
  }

  .txt-center-media {
  	text-align: center;
  }

  .f-size-19-media {
  	font-size: 19px;
  }

  .f-weight-550-media {
  	font-weight: 550;
  }
  .m-bottom-22-media {
  	margin-bottom: 22px;
  }

  .f-size-22-media {
  	font-size: 22px;
  }

  .f-size-17-media {
  	font-size: 17px;
  }

  .navbar-brand {
  	background-color: white;
  	color: black !important;
  }
  .tablet {
    position: relative;
    width: 250px;
    height: 404px;
    margin-left: 38px;
    border-top-width: 42px;
    border-bottom-width: 42px;
    top: -40px;
   }

  .tablet .content {
    width: 219px;
    height: 321px;
  }
  .image-inside {
    width: 150%;
    height: 155%;
    margin-top: -91px;
  }
  .tablet:before {
    width: 10px;
    height: 5px;
    top: -21px;
    left: 50%;
   }
   .tablet:after {
    width: 26px;
    height: 26px;
    left: 49%;
    bottom: -47px;
    }

    .m-top--65-media {
      margin-top: -65px;
    }

    .flex-around-media {
      display: block;
    }

    .media-float {
      float: left;
      width: 50%;
    }

    .f-size-15-media {
      font-size: 15px;
    }

    .m-top-17-media {
      margin-top: 17px;
    }

    .line-height-30-media {
      line-height: 30px;
    }

    .arrow {
      left:45%;
    }

    .f-size-30-media {
      font-size: 30px;
    }

    .m-bt-20-media {
      margin-bottom: 20px;
    }

    .m-t-20-media {
      margin-top: 20px;
    }

    .m-bt-50-media {
      margin-bottom: 50px;
    }

    .p-left-35-media{
    padding-left: 0;
  }

  .media-b-bottom-1{
    border-bottom: 1px solid white;
  }
  .media-m-bottom-40{
    margin-bottom: 40px;
  }
  .media-m-bottom-30{
    margin-bottom: 30px;
  }
  .media-m-top-30{
    margin-top: 30px;
  }
  .media-f-size-23{
    font-size: 23px;
  }
  .media-f-size-20{
    font-size: 20px;
  }
  .media-fifthHolder-height{
    height: 200px;
  }
  .media-text-center{
    text-align: center;
  }
  .media-padding-btn{
    padding: 15px 58px;
  }
  a .more1:visited{
    color:red !important;
  }
  a .more1:active{
    color:red !important;
  }
  .media-b-bottom{
    border-bottom: 1px solid lightgrey;
  }

  .m-after-tablet {
    margin-bottom: 10px !important;
  }

  .h-60 {
    height: 100%;
  }


}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

